[Unit]
Description=Mastodon Follow/Like Bot (venv)
After=network.target

[Service]
Type=simple
User=michael
WorkingDirectory=/home/michael/SynologyDrive/Python Projects/mastodon_like_follow_bot
EnvironmentFile=/home/michael/SynologyDrive/Python Projects/mastodon_like_follow_bot/.env
ExecStart=/home/michael/SynologyDrive/Python Projects/mastodon_like_follow_bot/.venv/bin/python /home/michael/SynologyDrive/Python Projects/mastodon_like_follow_bot/mastodon_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
